<div class="row">
    <div class="col s12">
        <div class="page-subtitle">
            <h4>Позиции:</h4>
            <button 
                class="waves-effect waves-light btn grey darken-1 btn-small"
                (click)="onAddService()"
            >
                Добавить позицию
            </button>
        </div>

        <div *ngIf="!loading; else loader">
            <div class="collection" *ngIf="services.length !== 0; else empty">
                <a 
                    *ngFor="let service of services"
                    class="blue-text text-darken-2 collection-item 
                           collection-item-icon blue-text text-darken-2 
                           collection-item light-blue lighten-5"
                    (click)="onSelectService(service)"
                >
                    <span>
                        {{service.name}}
                    </span>
                    <span>
                        <strong class="col s8">{{service.cost}} руб.</strong>
                        <i class="material-icons col s2" (click)="onDeleteService($event, service)">delete</i>
                    </span>
                </a>
            </div>
            <ng-template #empty>
                <div class="center">В категории нету сервисов</div>
            </ng-template>
        </div>
    </div>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal" #modal>
        <div class="modal-content">
            <h4 class="mb1">Добавить позицию</h4>
            <div class="input-field">
                <input 
                    formControlName="name"
                    id="pos-name" 
                    type="text"
                    [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
                >
                <label for="pos-name">Название</label>
                <span 
                    *ngIf="form.get('name').invalid && form.get('name').touched"
                    class="helper-text red-text"
                >
                    Названиек не должно быть пустым.
                </span>
            </div>
            <div class="input-field">
                <input 
                    formControlName="cost"
                    id="pos-cost" 
                    type="number" 
                    min="1"
                    [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}"
                >
                <label for="pos-cost">Цена</label>
                <span
                    *ngIf="form.get('cost').invalid && form.get('cost').touched"
                    class="helper-text red-text"
                >
                    Введите корректную цену.
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button 
                type="button"
                (click)="onCancel()"
                class="modal-action waves-effect waves-black btn-flat"
                [disabled]="form.disabled"
            >Отмена</button>
            <button 
                class="modal-action btn waves-effect" 
                type="submit"
                [disabled]="form.invalid || form.disabled"
            >
                Сохранить
            </button>
        </div>
    </div>
</form>