<div class="page-title">
    <h4 *ngIf="isRoot">Заказ</h4>
    <h4 *ngIf="!isRoot">
        <a routerLink="/order">Заказ</a>
        <i class="material-icons">keyboard_arrow_right</i>
        Добавить продукцию
    </h4>
    <button 
        class="waves-effect btn green darken-5"
        (click)="openModal()"
        [disabled]="order.list.length === 0"
    >
        Завершить
        <!-- <i class="material-icons">attach_money</i> -->
    </button>
</div>

<!-- children -->
<router-outlet></router-outlet>

<div #modal class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="mb1">Ваш заказ</h4>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of order.list">
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.cost}}</td>
                    <td><i class="material-icons pointer" (click)="removePosition(item)">delete</i></td>
                </tr>
            </tbody>
        </table>
        <div class="order-summary">
            <p>Общая стоимость <strong>{{order.price}} руб.</strong></p>
        </div>
    </div>
    <div class="modal-footer">
        <button 
            class="modal-action waves-effect waves-black btn-flat"
            (click)="cancelModal()"
            [disabled]="pending"
        >
            Отмена
        </button>
        <button 
            class="modal-action btn waves-effect"
            (click)="submit()"
            [disabled]="order.list.length === 0 && pending"
        >
            Подтвердить
        </button>
    </div>
</div>