<table class="highlight mb2">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Время</th>
            <th>Сумма</th>
            <th>Отзыв</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{order.order}}</td>
            <td>{{order.date | date:'dd.MM.yyyy'}}</td>
            <td>{{order.date | date:'HH:mm:ss'}}</td>
            <td>{{computePrice(order)}} руб.</td>
            <td>
                <div *ngIf="userRole === 'client'">
                    <button 
                        *ngIf="order.feedback !== 2 && 
                               order.feedback !== 0 && 
                               order.feedback !== -2" 
                        (click)="addFeddback(order._id)"
                        class="btn btn-small blue darken-4"
                        #modalFeedback
                    >
                        <i class="material-icons">add_circle_outline</i>
                    </button>
                </div>
                <i 
                    [ngClass]="
                        order.feedback === 2 ? 
                        'icon-green' : 
                        order.feedback === 0 ? 
                        'icon-yellow' : 'icon-red'
                    "
                    class="small material-icons"
                >
                    {{feedbackMap[order.feedback]}}
                </i>
            </td>
            <td>
                <button class="btn btn-small grey darken-1" (click)="selectOrder(order)">
                    <i class="material-icons">open_in_new</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal modal-fixed-footer" #modal>
    <div class="modal-content" *ngIf="selectedOrder">
        <h4 class="mb1">Заказ №{{selectedOrder.order}}</h4>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Цена</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of selectedOrder.list">
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.cost}}</td>
                </tr>
            </tbody>
        </table>
        <div class="order-summary">
            <p>Общая стоимость <strong>{{computePrice(selectedOrder)}} руб.</strong></p>
        </div>
    </div>
    <div class="modal-footer">
        <button 
        class="modal-action waves-effect waves-black btn-flat"
        (click)="closeModal()"
        >
            Закрыть
        </button>
    </div>
</div>

<div class="modal modal-fixed-footer" #modalFeedback>
    <div class="modal-content">
        <h3>Оцените заказ</h3>
        <button class="waves-effect waves-light">
            <i 
                class="large material-icons icon-red" 
                #feedbackEstimation
                (click)="estimate('-2')"
            >
                sentiment_very_dissatisfied
            </i>
        </button>
        <button class="waves-effect waves-light">
            <i 
                class="large material-icons icon-yellow" 
                #feedbackEstimation
                (click)="estimate('0')"
            >
                sentiment_neutral
            </i>
        </button>
        <button class="waves-effect waves-light">
            <i 
                class="large material-icons icon-green" 
                #feedbackEstimation
                (click)="estimate('2')"
            >
                sentiment_very_satisfied
            </i>
        </button>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-black btn-flat" type="button" (click)="closeFeedbackModal()">
            Закрыть
        </button>
        <button 
            class="modal-action btn waves-effect"
            (click)="estimate(feedbackEstimation)"
        >
            Оставить отзыв
        </button>
    </div>
</div>