<nav>
    <div class="nav-wrapper blue darken-3">
        <a routerLink="/" class="brand-logo"><i class="material-icons">blur_linear</i>REG.CRM</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active">
                <a routerLink="/login">Вход</a>
            </li>
            <li>
                <a routerLink="/register">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>

<div class="auth-block">
    <router-outlet></router-outlet>
</div>