<div *ngIf="services$ | async as services; else loader">
    <table class="highlight" *ngIf="services.length !== 0; else empty">
        <thead>
            <tr>
                <th>Название</th>
                <th>Стоимость</th>
                <th>Количество</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let service of services">
                <td>{{service.name}}</td>
                <td>{{service.cost}} руб.</td>
                <td>
                    <div class="input-field inline order-position-input">
                        <input type="number" min="1" [(ngModel)]="service.quantity">
                    </div>
                </td>
                <td>
                    <button 
                        class="btn waves-effect wavers-light btn-small"
                        (click)="addToOrder(service)"
                        [disabled]="!service.quantity"
                    >
                        Добавить
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty>
        <div class="center">
            В этой категории нету сервисов.
        </div>
    </ng-template>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>